# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Python
*.log

# Testing
.pytest_cache/

# Distribution
dist/
build/
